@import '@/styles/variables';
@import '@/styles/mixins';

.actions {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    @include mobile {
        flex-direction: column;
        width: 100%;
        gap: 0.25rem;

        button {
            width: 100%;
        }
    }
}

.amountPending {
    color: $warning-500;
}

.method {
    font-weight: 600;
}

.details {
    font-size: 0.75rem;
    color: $slate-500;
}

.completed {
    color: $slate-400;
    font-size: 0.875rem;
    font-style: italic;
}