@import '@/styles/variables';
@import '@/styles/mixins';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: $font-sans;
    background-color: $bg-body;
    color: $text-primary;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
}

input,
select,
textarea {
    font-family: inherit;
    outline: none;
}

.Card-module-scss-module__IUn-EW__card{
    padding: 1rem !important;
}

// Scrollbar
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $slate-300;
    border-radius: 4px;

    &:hover {
        background: $slate-400;
    }
}

// Utility Classes
.container {
    margin: 0 auto;
    padding: 0 $gap-md;
}

.text-gradient {
    @include text-gradient;
}