@import '@/styles/variables';
@import '@/styles/mixins';

.tableContainer {
    width: 100%;
    max-width: 100%;
    max-height: 750px;
    overflow-y: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    @include customScroll;
    position: relative;

    @include mobile {
        max-height: 450px;
    }
}

.table {
    width: max-content;
    min-width: 100%;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;
}

.th {
    padding: 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: #000000;
    border-bottom: 2px solid $slate-100;
    background: $slate-200;
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 1;

    @include mobile {
        padding: 0.75rem 0.5rem;
        font-size: 0.75rem;
    }

    @include tablet {
        padding: 0.875rem 0.75rem;
        font-size: 0.8125rem;
    }
}

.td {
    padding: 1rem;
    font-size: 0.95rem;
    color: $slate-800;
    border-bottom: 1px solid $slate-100;
    vertical-align: middle;
    white-space: nowrap;

    @include mobile {
        padding: 0.75rem 0.5rem;
        font-size: 0.875rem;
    }

    @include tablet {
        padding: 0.875rem 0.75rem;
        font-size: 0.9rem;
    }
}

.tr {
    &:hover {
        background: $slate-50;
    }
}

.location {
    font-size: 0.875rem;
    color: $neutral-500;
}

.machine {
    font-weight: 500;
}
